In [108]:
import sys
import os
import pandas as pd
import numpy as np

In [49]:
dev_staff = pd.read_csv('staff_for_table.csv')
dev_staff.dropna(inplace=True)
dev_staff.head()

,Consolidation,Borough,Acres,DU,PM,PM_FORMULA,APM,APM_FORMULA,SUPER,SUPER_FORMULA,...,CJG_TOTAL,CJG_FORMULA,CTX,CTX_FORMULA,MW,MW_FORMULA,SEC,SEC_FORMULA,TOT,TOT_FORMULA
0,ADAMS,Bronx Property Management,8.79,924,1.0,1.0,0.0,0.0,1.0,1.0,...,11,14,6.0,5.0,4.0,4.0,2.0,2.0,30.0,32.0
1,ALBANY CONSOLIDATED,Brooklyn Property Management,13.85,"1,223",1.0,1.0,1.0,1.0,1.0,1.0,...,18,18,5.0,5.0,5.0,5.0,2.0,2.0,39.0,39.0
2,AMSTERDAM CONSOLIDATED,Mixed Finance Conventional,13.09,"1,636",1.0,1.0,1.0,1.0,1.0,1.0,...,24,24,5.0,5.0,7.0,7.0,2.0,2.0,50.0,49.0
4,ASTORIA,Queens\Staten Island Property Management,26.43,"1,104",1.0,1.0,1.0,1.0,1.0,1.0,...,17,16,5.0,5.0,5.0,5.0,2.0,2.0,38.0,37.0
5,BAISLEY PARK CONSOLIDATED,Queens\Staten Island Property Management,10.15,894,1.0,1.0,1.0,0.0,1.0,1.0,...,16,13,5.0,5.0,5.0,4.0,2.0,2.0,37.0,31.0

In [50]:
table_frame = pd.read_csv('Table_Keys.csv')
table_frame

,CHART_LINE,BUDG_KEY,FORMULA_KEY,NOTE
0,Employees,TOT,TOT_FORMULA,NaN
1,Property Manager,PM,PM_FORMULA,NaN
2,Asst. Property Manager,APM,APM_FORMULA,NaN
3,Secretaries and Clerical Staff,SEC,SEC_FORMULA,NaN
4,Housing Assistants,HA,HA_FORMULA,NaN
5,Superintendent,SUPER,SUPER_FORMULA,NaN
6,Asst. Superintendent,ASUPER,ASUPER_FORMULA,NaN
7,Supervisor of Caretakers (SOC),SOC,SOC_FORMULA,NaN
8,Supervisor of Grounds (SOG),SOG,SOG_FORMULA,NaN
9,Maintenance Workers,MW,MW_FORMULA,NaN
10,Caretakers X,CTX,CTX_FORMULA,NaN
11,Caretakers J,CTJ,CJG_FORMULA,Includes Caretaker I and Chief Caretaker
12,Caretakers G,CTG,NaN,NaN

In [51]:
cons_id = 'SUMNER CONSOLIDATED'

In [52]:
cons_data = dev_staff.loc[dev_staff['Consolidation'] == cons_id]

In [72]:
cons_table_frame = table_frame
cons_table_frame['Budgeted'] = cons_table_frame['BUDG_KEY'].apply(lambda key: cons_data[key].iloc[0])
cons_table_frame['Formula'] = cons_table_frame['FORMULA_KEY'].iloc[:-1].apply(lambda key: cons_data[key].iloc[0])

In [78]:
cons_table_frame['Variance'] = cons_table_frame.iloc[:-2].apply(lambda row: row['Budgeted'] - row['Formula'], axis=1)
cons_table_frame.loc[cons_table_frame['CHART_LINE']== 'Caretakers J', 'Variance'] = (cons_table_frame.iloc[-1]['Budgeted']+
                                         cons_table_frame.iloc[-2]['Budgeted']-
                                         cons_table_frame.iloc[-2]['Formula'])

In [82]:
cons_table = cons_table_frame[['CHART_LINE', 'Budgeted', 'Formula', 'Variance']]

In [107]:
def make_staff_table_block(staff_data):
    
    table_template = r'''
    
    \begin{tabular}{l|c|c|c|}
    \cline{2-4}
                                                                                 & \cellcolor{ccfuschia}{\color[HTML]{FFFFFF} Budgeted} & \cellcolor{ccfuschia}{\color[HTML]{FFFFFF} Formula Allocation} & \cellcolor{ccfuschia}{\color[HTML]{FFFFFF} Variance} \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Employees}                      & %s                                                      & %s                                                                & %s                                                        \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Property Manager}               & %s                                                      & %s                                                                & %s                                                       \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Asst. Property Manager}         & %s                                                      & %s                                                                & %s                                                       \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Secretaries}                    & %s                                                      & %s                                                                & %s                                                      \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Housing Assistants}             & %s                                                      & %s                                                                & %s                                                      \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Superintendent}                 & %s                                                      & %s                                                                & %s                                                      \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Assistant Superintendent}       & %s                                                      & %s                                                                & %s                                                      \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Supervisor of Caretakers (SOC)} & %s                                                      & %s                                                                & %s                                                      \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Supervisor of Grounds (SOG)}    & %s                                                      & %s                                                                & %s                                                      \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Maintenance Workers}            & %s                                                      & %s                                                                & %s                                                       \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Caretakers X}                   & %s                                                      & %s                                                                & %s                                                      \\ \hline
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Caretakers J\tnote{1}}                   & %s                                                      &                                                                 &                                                         \\ \cline{1-2}
    \multicolumn{1}{|l|}{\cellcolor{ccfuschialight}Caretakers G}                   & %s                                                      & \multirow{-2}{*}{%s}                                     & \multirow{-2}{*}{%s}                           \\ \hline
    \end{tabular}
    '''
    
    values = []
    
    def extract_data_through_ctx(row):
        [values.append(item) for item in [str(int(row['Budgeted'])), 
                                          str(int(row['Formula'])), 
                                          str(int(row['Variance']))]]
        pass
    
    #Processing through Caretaker X
    staff_data.iloc[0:-2].apply(lambda row: extract_data_through_ctx(row), axis=1)
    
    #Processing Caretaker J and G
    values.append(str(int(staff_data.iloc[-2, 1])))
    values.append(str(int(staff_data.iloc[-1, 1])))
    values.append(str(int(staff_data.iloc[-2, 2])))
    values.append(str(int(staff_data.iloc[-2, 3])))

    return table_template % tuple(values)

In [106]:
with open('test.tex', 'w') as file_handle:
    file_handle.write(make_staff_table_block(cons_table))

['46', '45', '1', '1', '1', '0', '1', '1', '0', '2', '2', '0', '4', '4', '0', '1', '1', '0', '2', '2', '0', '1', '1', '0', '1', '1', '0', '6', '6', '0', '5', '5', '0', '20', '2', '21', '1']
37